.expense-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 90%;
    height: 4%;
    font-weight: 600;
    border-radius: 4px;
}

.delete-expense:hover {
    cursor: pointer;
    color: black;
    transition: .3s;
}

.expense-container > * {
    padding: 0 4%;
}