.expenses-container {
    display: grid;
    grid-template-rows: 1.2fr 9fr;
    height: 90%;
}

.expenses-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.expenses-column > * {
    padding: 1%;
    margin: 2.5% 0;
}

.expenses-title {
    margin: auto auto 0 auto;
    color: #1A77A3;
    padding-bottom: 5%;
    font-size: 110%;
}