.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.expense-form {
    display: flex;
    justify-content: space-evenly;
    height: 80%;
    width: 50%;
}

.expense-form > * {
    width: 25%;
    padding-left: 1%;
}

.expense-form > *:focus {
  outline: none;
}