.expenses-container {
    display: grid;
    grid-template-rows: 1fr 10fr;
    height: 90%;
}

.expenses-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.expenses-column > * {
    padding: 1%;
    margin: 3% 0;
}

.expenses-title {
    margin: auto auto 0 auto;
    color: #1A77A3;
    font-size: 110%;
}