.goals-page {
    height: 78.5vh;
    display: grid;
    background: #F0FFFF;
}

.goals-form-container {
    display: flex;
    height: 3.4vh;
    align-items: center;
    justify-content: center
}

.goals-container {
    height: 70vh;
    justify-self: center;
    width: 98vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: scroll;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(220, 220, 220);
    background: white;
}