.goals-page {
    height: 78.5vh;
    display: grid;
    background: #F0FFFF;
}

.goals-form-container {
    height: 4vh;
}

.goals-container {
    height: 74.5vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: scroll;
}