.holdings {
    height: 78.5vh;
    display: grid;
    background: #F0FFFF;
}

.holdings-titles-container {
    height: 74.5vh;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.holdings-titles-container > * {
    padding: 0 12px;
    margin: 10px;
    height: 70vh;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(220, 220, 220);
    background: white;
}

.holding-navlinks-container {
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.holding-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #1A77A3;
    font-weight: 600;
    font-size: 120%;
}