.holdings {
    height: 78.5vh;
    display: grid;
    background: #F0FFFF;
}

.holdings-titles-container {
    height: 74.5vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.holdings-titles-container > * {
    padding: 0 12px;
    margin: 10px;
    height: 70vh;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(220, 220, 220);
    background: white;
}

.holding-navlinks-container {
    display: grid;
    grid-template-rows: 1fr 10fr .3fr;
}

.holding-title-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr .8fr 1.2fr .5fr;
    align-items: center;
    color: #1A77A3;
    font-weight: 600;
    font-size: 100%;
}

.holding-title-container > * {
    display: flex;
    width: 20%;
    justify-self: center;
    width: 100%;
    padding-left: 30%;
}

.holding-navlink.active-holding > * {
    background-color: black;
    opacity: .65;
    font-weight: 600;
}

.holding-navlink.active-holding > * > * {
    color: white;
    text-decoration: none;
}

.holdings-container {
    overflow: scroll;
}