.holdings {
    height: 78.5vh;
    display: grid;
    background: #F0FFFF;
}

.holdings-container {
    height: 74.5vh;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.holdings-container > * {
    padding: 0 12px;
    margin: 10px;
    height: 70vh;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(220, 220, 220);
    background: white;
}