.holding-container {
    display: grid;
    grid-template-columns: .9fr .9fr .8fr .9fr .9fr 1fr .25fr;
    align-items: center;
    height: 5vh;
    text-decoration: none;
    border-radius: 5px;
    background-color: #d1d1d1;
    margin-bottom: 2%;
}

.holding-container > * {
    display: flex;
    color: #6A727A;
    font-weight: 600;
    justify-content: center;
    padding-left: 5%;
}
#holding-delete:hover {
    color: #23BFA3;
    transition: .3s;
}