.expenses-page {
    height: 78.5vh;
    background: #F0FFFF;
}

.profile {
    display: grid;
    grid-template-columns: 1.6fr 1.2fr 2.3fr;
    height: 74.5vh;
}

.profile > * {
    padding: 0 12px;
}

.expenses-form-container {
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expenses-module {
    height: 72vh;
}