.expenses-page {
    height: 78.5vh;
    background: #F0FFFF;
    display: grid;
    grid-template-rows: 1fr 18fr;
}

.profile {
    display: grid;
    grid-template-columns: 1.6fr 1.2fr 2.3fr;
}

.profile > * {
    padding: 0 25px;
}

.expenses-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}