.expenses-page {
    height: 78.5vh;
    background: #F0FFFF;
}

.profile {
    display: grid;
    grid-template-columns: 1.6fr 1.2fr 2.3fr;
    height: 74.5vh;
}

.profile > * {
    padding: 0 12px;
    margin: 10px;
    height: 70vh;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(220, 220, 220);
    background: white;
}

.expenses-form-container {
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expenses-module {
    height: 72vh;
}