/* TODO Add site wide styles */
* {
    margin: 0;
}

button {
    background-color: #21BFA0;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    letter-spacing: .6px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(29, 170, 145);
}

